<% provide(:title, "Home") %>

 <div class="center jumbrotron">
  <h1>Home</h1>
  <h2>Welcome to the Home Page!!!</h2>

   <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>
